<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
">
  <import resource="classpath:springMVC-qyl.xml"></import>
  <import resource="classpath:springMVC-qyl2.xml"></import>
  <import resource="classpath:springMVC-yc.xml"></import>
  <context:property-placeholder location="classpath:DB.properties"></context:property-placeholder>
  <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
    <property name="driverClassName" value="${jdbc.driver}"></property>
    <property name="url" value="${jdbc.url}"></property>
    <property name="username" value="${jdbc.username}"></property>
    <property name="password" value="${jdbc.pwd}"></property>
    <property name="initialSize" value="20"></property>
    <property name="maxTotal" value="40"></property>
  </bean>
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"></property>
    <property name="configLocation" value="classpath:mybatis-config.xml"></property>
  </bean>
  <!--扫描mapper,注入工厂-->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="com.huarui.qyl.mapper,com.huarui.qyl2.mapper,com.huarui.yc.mapper"></property>
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
  </bean>
  <mvc:annotation-driven></mvc:annotation-driven>
  <context:component-scan base-package="com.huarui"></context:component-scan>
  <mvc:default-servlet-handler></mvc:default-servlet-handler>
</beans>